<h2 class="mb-4 text-2xl font-semibold text-gray-700"><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "product-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>

  <%= label f, :name %>
  <%= text_input f, :name, class: "form-control" %>
  <%= error_tag f, :name %>

  <div class="mt-6">
    <%= submit "Save", class: "btn btn-primary", phx_disable_with: "Saving..." %>
  </div>
</form>
